<a href="https://colab.research.google.com/github/evireim/Titanic_pass/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [171]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [172]:
ds = pd.read_csv('train.csv')

In [173]:
ds_sex = ds.iloc[:, 4:5].values

In [174]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
ds_sex = le.fit_transform(ds_sex)

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [175]:
ds.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [176]:
ds = ds.drop(['PassengerId', 'Name', 'Sex', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis=1)

In [177]:
X = ds.iloc[:, 1:].values
y = ds.iloc[:, 0].values

In [178]:
#print(X)

In [179]:
ds_sex = ds_sex.reshape(len(ds_sex),1)

In [180]:
X = np.concatenate((ds_sex, X), axis=1)

In [181]:
#print(X)

In [182]:
#print(y)

In [183]:
from sklearn import impute
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 1:])
X[:, 1:] = imputer.transform(X[:, 1:])

In [184]:
#print(X)

In [185]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [186]:
#print(X_train)

In [187]:
#print(X_test)

In [188]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_sc = sc.fit_transform(X_train[:, 2:])
X_test_sc = sc.fit_transform(X_test[:, 2:])

In [189]:
#print(X_train)

In [190]:
#print(X_train_sc)

In [191]:
X_train = np.concatenate((X_train[:, :2], X_train_sc), axis=1)

In [192]:
#print(X_train)

In [193]:
#print(X_test)

In [194]:
X_test = np.concatenate((X_test[:, :2], X_test_sc), axis=1)

In [195]:
#print(X_test)

In [196]:
from sklearn.svm import SVC
classifier = SVC(kernel='rbf', random_state=0)
classifier.fit(X_train, y_train)

SVC(random_state=0)

In [197]:
#from sklearn.tree import DecisionTreeClassifier
#classifier = DecisionTreeClassifier(criterion='entropy', random_state=0, min_samples_split=90)
#classifier.fit(X_train, y_train)

In [198]:
#from sklearn.ensemble import RandomForestClassifier
#classifier = RandomForestClassifier(n_estimators=30, criterion='entropy', random_state=0, min_samples_split=90)
#classifier.fit(X_train, y_train)

In [199]:
#from sklearn.linear_model import LogisticRegression
#classifier = LogisticRegression(random_state=0)
#classifier.fit(X_train, y_train)

In [200]:
#from sklearn.neighbors import KNeighborsClassifier
#classifier = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)
#classifier.fit(X_train, y_train)

In [201]:
#from sklearn.naive_bayes import GaussianNB
#classifier = GaussianNB()
#classifier.fit(X_train, y_train)

In [202]:
y_pred = classifier.predict(X_test)

In [203]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[91 15]
 [22 51]]

0.7932960893854749